h1 {
    font-size: 28px;
}

.list-item {
    padding-bottom: 1%;
    width: 10%;
    min-width: 150px;
    border: none;
    background-color: #FBF8F2;
    border-bottom: 1mm solid #FBF8F2;
    color: #686868;
}

.list-item-active {
    padding-bottom: 1%;
    width: 10%;
    min-width: 150px;
    border: none;
    background-color: #FBF8F2;
    border-bottom: 1mm solid #1398A0;
    color: #222222;
}

.list-item:focus {
    outline: none;
}

.list-item-active:focus {
    outline: none;
}

.list-item:hover {
    color: #222222;
}

.navbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: left !important;
    padding-left: 0 !important;
    list-style-type: none !important;
    padding-top: 2% !important;
    position: relative;
}

.tab-container {
    /* padding: 3%; */
    padding-top: 3% !important;
    padding-bottom: 1% !important;
    background-color: #FBF8F2 !important;
    margin: 0 !important;
    width: 100% !important;
    font-family: 'Avenir Heavy' !important;
    font-size: 18px !important;
}