.popup-center {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 2;
}

.volunteer-container{
    position: relative;
    height: calc(50% - 40px);
    width: calc(53% - 40px);
    min-width: 600px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: flex;
    position: relative;
    flex-direction: row;
    background: white;
    padding: 3vh;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.assign-chips{
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    margin: 4px 0;  
    margin-top: 4%;
    overflow: auto;
}

.assign-chips::-webkit-scrollbar {
    display: none;
  }

.popup-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 25%;
    min-width: 400px;
    min-height: 250px;
    max-width: 600px;
    max-height: 350px;
    background: white;
    padding: 2vh;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.admin-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 45%;
    min-width: 650px;
    min-height: 600px;
    max-width: 800px;
    max-height: 600px;
    background: white;
    padding: 3vh;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.popup-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

.popup-admin-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup-half-textfield {
    width: 60%;
}

.popup-full-width {
    margin-top: 10%;
    width: 100%;
}

.popup-icon-center {
    text-align: center;
    margin: 5%;
}

.popup-icon-corner {
    position: absolute;
    background: none;
    border: none;
    top: 15px;
    right: 15px;
}

.popup-admin-icon-corner {
    position: absolute;
    background: none;
    border: none;
    top: 30px;
    right: 20px;
}

.h2-popup {
    text-align: center;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: black;
}

.p-popup {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.flex-horizontal {
    display: flex;
    flex-direction: right;
    justify-content: center;
    margin-top: 1.5vh;
}

.a-popup {
    color: black;
}

.a-popup:hover {
    color: black;
}

.h1-popup {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    color: black;
}

.popup-description { 
    color: grey;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.popup-logo {
    width: 150px;
    padding-left: 15%;
    padding-top: 38%;
}

.popup-update-button {
    display: flex;
    justify-content: right;
    width: 100%;
}

.popup-searchbar {
    width: 100%;
}

.popup-assign-button {
    display: flex;
    justify-content: right;
    width: 100%;
}


